participation_exercises/jaxws_exercise/src/generated/services/server/ZipCodeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ZipCodeServiceService" targetNamespace="http://localhost/ZipCodeService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost/ZipCodeService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/ZipCodeService" elementFormDefault="unqualified" targetNamespace="http://localhost/ZipCodeService" version="1.0">
<xs:element name="getState" type="tns:getState"/>
<xs:element name="getStateResponse" type="tns:getStateResponse"/>
<xs:complexType name="getState">
    <xs:sequence>
      <xs:element minOccurs="0" name="zipCode" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="messages" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getStateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="state" type="tns:state"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="state">
    <xs:sequence>
      <xs:element minOccurs="0" name="fullName" type="xs:string"/>
      <xs:element minOccurs="0" name="twoDigitCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getState">
    <wsdl:part name="parameters" element="tns:getState">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStateResponse">
    <wsdl:part name="parameters" element="tns:getStateResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ZipCodeService">
    <wsdl:operation name="getState">
      <wsdl:input name="getState" message="tns:getState">
    </wsdl:input>
      <wsdl:output name="getStateResponse" message="tns:getStateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZipCodeServiceServiceSoapBinding" type="tns:ZipCodeService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getState">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getState">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZipCodeServiceService">
    <wsdl:port name="ZipCodeServicePort" binding="tns:ZipCodeServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/ZipCodeServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
